.task-container {
    background-color: #272f31;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}

.task-title {
    cursor: pointer;
}

.remove-task-button,
.see-task-details-button {
    background-color: #272f31;
    border: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 0 5px;
}